@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

img, 
.input {
  display: flex;
  align-self: center;
}

.text {
  align-self: center;
}

.buttons {
  align-self: center;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}

a, 
.right-links {
  list-style-type: none;
  text-decoration: none;
  display: flex;
}

a,
.left-links {
  list-style-type: none;
  text-decoration: none;
  display: flex;
}



