@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: 100%;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


a, .left-links,
.right-links {
  list-style-type: none;
  text-decoration: none;
  color: #656565;
}

.header {
  margin: 0px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

img, 
.input {
  display: flex;
  align-self: center;
}

.text {
  align-self: center;
}

.buttons {
  align-self: center;
}

.footer {
  margin: 0;
  padding: 16px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}

.left-links {
  display: flex;
  gap: 32px;
}

.right-links {
  display: flex;
  gap: 32px;
}