/* Add CSS Styling */
.odd-numbers {
    background-color: #ffc0cb;
    font-size: 16px;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#number-three {
    font-size: 24px;
}

#number-two {
    font-size: 32px;
    color: #0000ff;
}

#number-four {
    background-color: #90ee90;
    font-weight: bold;
    font-size: 28px;
}