body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

li, a {
  text-decoration: none;
  list-style-type: none;
  font-size: 24px;
  color: white;
  align-self: flex-start;
}

.header {
  padding: 16px;
  background: darkmagenta;
  color: white;
  font-weight: 900;
  font-size: 32px;
  flex: auto;
}

.footer {
  padding: 32px;
  background: #eee;
  color: darkmagenta;
  text-align: center;
  flex: auto;
}

.main-section {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  width: 50vh;
  font-size: 16px;
  margin: 16px;
  padding: 16px;
  flex: .5
}


.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex: .25 1 0;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


