/* Add CSS Styling */
.click-me {
    background-color: #000000;
    color: #ffffff
}

.no-click-me {
    background-color: #ffff00;
}

.no-click-me,
.click-me {
    font-family: helvetica, times 'Times New Roman', Times, serif, sans-serif;
    font-size: 32px;
}